* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/************************ nav bar ************************/
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: all 0.4s;
}
.nav_bg {
    background-color: #fff;
    opacity: 0.9;
    transition-timing-function: ease-in-out;
    transition: all 0.4s;
}
.nav_item {
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
}
ul li {
    display: inline-block;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
    padding: 10px;
    font-size: 1.3rem;
}
.bars {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 5px;
}
.nav_brand h1 {
    text-shadow: 2px 2px 8px #FF0000;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
}
.sky_text{
    color: #FF0000;
    text-shadow: 2px 2px 8px #111;
}
/******************** side nav ********************/
.side_nav {
    transition: width .5s, height .5s; 
    display: none;
}
.side_item {
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    transition: .5s;
}
.side{
    margin-top: 30vh;
}
.side li {
    display: block;
}
.side li a{
    font-size: 2.5rem;
    transition: all .5s;
}
.cancel {
    font-size: 3rem;
    color: red;
    cursor: pointer;
    z-index: 3;
    position: relative;
    top: -200px;
    right: 50px;
}


/****************** banner section ******************/
.banner {
    background: url('./images/plane.png');
    width: 100%;
    height: 600px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.btn {
    margin-top: 23rem;
}

/***************** media query *****************/
@media(max-width: 800px){
    .nav_item {
        display: none;
    }
    .bars{
        display: block;
    }
}